version: "3"
services:
  postgres:
    container_name: postgres
    image: postgres:15.2-alpine
    restart: unless-stopped
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=magnetissimo
    networks:
      - magnetissimo
    volumes:
      - "pgdata:/var/lib/postgresql/data"
  magnetissimo:
    container_name: magnetissimo
    build: https://github.com/sergiotapia/magnetissimo.git
    restart: unless-stopped
    environment:
      - DATABASE_URL=postgres://postgres:postgres@postgres:5432/magnetissimo
      # Uncomment the following environment variable and replace with your domain
      # if you are not using localhostand you receive "We can't find the internet error" error
      # - PHX_HOST=magnetissimo.domain.tld
      # Uncomment this environment variable and fill it in with either:
      # openssl rand -base64 64
      # mix phx.gen.secret
      # - SECRET_KEY_BASE=
    networks:
      - magnetissimo
    ports:
      - "4000:4000/tcp"
    depends_on:
      - postgres

networks:
  magnetissimo:

volumes:
  pgdata:
    driver: local
