<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Magnetissimo - Web application that indexes all popular torrent sites, and saves it to the local database.</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="<%= Routes.static_path(@conn, "/images/magnetissimo-logo.jpg") %>" alt="Magnetissimo Logo"/>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbar" class="navbar-menu">
        <div class="navbar-start">
          <a href="/" class="navbar-item">
            Home
          </a>

          <a href="/search" class="navbar-item">
            Search
          </a>

          <a href="/stats" class="navbar-item">
            Stats
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>

            <div class="navbar-dropdown">
              <a href="https://github.com/sergiotapia/magnetissimo" class="navbar-item">
                Github Repository
              </a>
              <a href="#" class="navbar-item">
                Discord Server
              </a>
              <a href="mailto:sergiotapia@outlook.com" class="navbar-item">
                Contact
              </a>
              <hr class="navbar-divider">
              <a href="https://github.com/sergiotapia/magnetissimo/issues/new" class="navbar-item">
                Report an issue
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <a href="https://elixir-lang.org/" class="navbar-item">
            Powered by ❤️ Elixir and Phoenix.
          </a>
        </div>
      </div>
    </nav>

    <div class="section">
      <div class="columns">
        <div class="column is-one-fifth">
          <%= render "_sidebar.html" %>
        </div>
        <div class="column">
          <%= render @view_module, @view_template, assigns %>
        </div>
      </div>
    </div>
  </body>
</html>
