<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Magnetissimo - Web application that indexes all popular torrent sites, and saves it to the local database.">
    <meta name="author" content="Sergio Tapia">

    <title>Magnetissimo - Web application that indexes all popular torrent sites, and saves it to the local database.</title>
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet">
  </head>

  <body>
    <div class="header">
      <div class="container">
        <div class="flex-box">
          <a href="/" class="nav-btn brand">Magnetisimo</a>

          <div class="flex-item"></div>

          <a target="_blank" href="http://reddit.com/r/magnetissimo" class="nav-btn text-uppercase">Forum</a>
          <a target="_blank" href="http://github.com/sergiotapia/magnetissimo" class="nav-btn text-uppercase">GitHub Repo</a>
          <div class="nav-btn separator"></div>
          <a href="/summary" class="nav-btn text-uppercase">Index Summary</a>
        </div>
      </div>
    </div>

    <div class="search-nav">
      <div class="container">
        <form action="/">
          <input type="text" autofocus="true" name="term" class="form-control" placeholder="Search for the torrent you're looking for">
          <i class="material-icons md-dark md-inactive">search</i>
        </form>
      </div>
    </div>

    <div class="container">
     <%#  <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
            <li><a href="http://www.phoenixframework.org/docs">Get Started</a></li>
          </ul>
        </nav>
        <span class="logo"></span>
      </header>
 %>
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
