@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

body {
  @apply min-h-screen;
}

.sidebar {
  box-shadow: 7px 0px 20px rgb(0 0 0 / 20%);
}

.button {
  @apply bg-transparent border-0 text-white box-border h-12 relative rounded px-3 cursor-pointer outline-0;
  transition: box-shadow 250ms, top 50ms, color 250ms;
  box-shadow: 0em 0 5px 5px rgba(0, 0, 0, 0.1);
  background-image: radial-gradient(
    ellipse 300% 110% at top center,
    rgba(255, 200, 200, 0.2) 0%,
    rgba(255, 220, 220, 0.4) 49%,
    rgba(255, 220, 229, 0.3) 50%,
    rgba(255, 255, 255, 0.2) 100%
  );
}

.button:hover {
  box-shadow: 0 0 1em 0.5ex rgba(255, 255, 255, 0.3);
}

.box {
  border-radius: 5px;
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right-color: rgba(255, 255, 255, 0.2);
  border-bottom-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  padding: 15px;
}

.fish-1 {
  position: absolute;
  bottom: 20px;
  right: 20px;
  transform: rotate(10deg);
}

.fish-2 {
  position: absolute;
  bottom: 169px;
  right: 137px;
  transform: rotate(328deg);
}

.fish-3 {
  position: absolute;
  bottom: 173px;
  right: 30px;
  transform: rotate(2deg);
}

.globe {
  position: absolute;
  top: 0;
  left: 0;
  width: 325px;
}
