<nav class="h-10 flex items-center justify-end mx-auto max-w-7xl  py-10">
  <button
    class="text-black dark:text-white border rounded-md px-4 py-2"
    phx-click={JS.dispatch("toogle-darkmode")}
  >
    Toggle Darkmode
  </button>
</nav>

<main class="px-4 py-20 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-7xl">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
