<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Magnetissimo" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>

  <body class="text-neutral-800 antialiased">
    <%= @inner_content %>

    <%!-- <div class="flex flex-row">
      <div class="min-h-screen pt-10 relative sidebar w-1/5 bg-gradient-to-b from-tree to-grass border-r-2 border-neutral-50 z-10">
        <.link navigate={~p"/"}>
          <h1 class="mb-4">Magnetissimo</h1>
        </.link>
        <MagnetissimoWeb.Layouts.Sidebar.auth current_user={@current_user} />
        <MagnetissimoWeb.Layouts.Sidebar.index_statistics />
        <img class="absolute bottom-0" width="100%" src="/images/tree.png" alt="tree" />
      </div>

      <div class="pt-10 w-4/5 bg-gradient-to-b from-sky via-water to-sand relative">
        <%= @inner_content %>
        <img class="fish-1" width="230" src="/images/frutiger-fish.png" alt="frutiger fish" />
        <img class="fish-2" width="140" src="/images/frutiger-fish.png" alt="frutiger fish" />
        <img class="fish-3" width="70" src="/images/frutiger-fish.png" alt="frutiger fish" />
      </div>
    </div> --%>
  </body>
</html>
